h2{
	text-align:center;
}
.form-group{
	display: block;
	padding:0 20px;
}
.list{
	padding: 0 20px;
}
.searchWrap{
	margin-bottom: 20px;
}
.liuyandetail{
	text-align: center;
}
.content{
	min-height: 100px;
	overflow: visible;
}
