<h2>查询结果</h2>
<div class="form-inline searchWrap">
<table border="" cellspacing="" cellpadding=""style="border:none" class="table table-striped col-sm-10 search1">
  	<tr>
  		<th class='col-sm-2 listNum'>序号</th>
  		<th class="col-sm-2">主题</th>
  		<th class="col-sm-2">内容</th>
  		<th class="col-sm-2">评论人</th>
  		<th class='col-sm-2'>修改</th>
  		<th class='col-sm-2'>删除</th>
  	</tr>
  		
  </table>
</div>